@import 'tailwindcss';

@plugin 'tailwind-scrollbar';

/* Define base variables for light mode */
:root {
  --background: #ffffffff; /* Light mode background */
  --foreground: #1e1e1e; /* Light mode foreground */
}

/* Dark mode variables when preferred */
@media (prefers-color-scheme: dark) {
  :root {
    --background: #191919; /* Dark mode background */
    --foreground: #f0f0f0; /* Dark mode foreground */
  }
}

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

/* For autofilled inputs */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-text-fill-color: var(--foreground) !important;
  border-color: var(--foreground) !important;
  caret-color: var(--foreground) !important;
  /* Long transition to prevent browser's default background from flashing*/
  transition: background-color 9999s ease-in-out 0s;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.scrollbar-thin {
  scrollbar-width: thin;
  scrollbar-color: gray var(--background); /* thumb | track */
}
