@import 'tailwindcss';
@plugin 'tailwind-scrollbar';

:root {
  --background: #f6f6f6ff;
  --foreground: #000000ff;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

.scrollbar-thin {
  scrollbar-width: thin;
  scrollbar-color: #000000ff #f6f6f6; /* thumb | track */
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #191919;
    --foreground: #f0f0f0ff;
  }

  .scrollbar-thin {
    scrollbar-color: #f0f0f0ff #191919;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}