@import 'tailwindcss';
@plugin 'tailwind-scrollbar';

@theme {
  --color-background: #f6f6f6;
  --color-foreground: #1e1e1e;
}

:root {
  --background: #f6f6f6; /* Light mode background */
  --foreground: #1e1e1e; /* Light mode foreground */
}

@media (prefers-color-scheme: dark) {
  @theme {
    --color-background: #191919;
    --color-foreground: #f0f0f0;
  }

  :root {
    --background: #191919; /* Dark mode background */
    --foreground: #f0f0f0; /* Dark mode foreground */
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.scrollbar-thin {
  scrollbar-width: thin;
  scrollbar-color: gray var(--background); /* thumb | track */
}
