@import 'tailwindcss';

/* Define base variables for light mode */
:root {
  --background: #ffffff; /* Light mode background */
  --foreground: #1e1e1e; /* Light mode foreground */
}

/* Dark mode variables when preferred */
@media (prefers-color-scheme: dark) {
  :root {
    --background: #191919; /* Dark mode background */
    --foreground: #f0f0f0; /* Dark mode foreground */
  }
}

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

/* For autofilled inputs */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-text-fill-color: var(--foreground) !important;
  border-color: var(--foreground) !important;
  caret-color: var(--foreground) !important;
  /* Long transition to prevent browser's default background from flashing*/
  transition: background-color 9999s ease-in-out 0s;
}

input::-webkit-calendar-picker-indicator {
  background-color: #ffffff;
  border-radius: 4px;
  padding: 4px;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

body * {
  scrollbar-width: thin;
  scrollbar-color: gray var(--background); /* Firefox */
}

/* Chrome, Safari, Edge */
body *::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

body *::-webkit-scrollbar-thumb {
  background-color: gray;
  border-radius: 4px;
}

body *::-webkit-scrollbar-track {
  background-color: var(--background);
}
